<!DOCTYPE html>
<html>
  <head>
    <title>GraphicDesigner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
        <%=render(partial: "home/login")%>
        <%=render(partial: "home/registration")%>
      
        <%=content_tag(:h3, "User: #{current_user["name"]}", class: "current_user") if not current_user.blank?%>

      <%= yield %>
    </div>
  </body>
</html>
